<%# encoding: utf-8 %>
<div id="rule">
  <div class="content">
    <h2>欢迎参加红点子大奖赛</h2>

    <h3>奖项设置</h3>
    <h4>最佳商业计划奖：</h4>
    <p>一等奖一名,奖 品为iPad 一台; 二等奖二名,奖品为1TB USB3.0移动硬盘一个</p>
    <h4>最佳商业创意奖：</h4>
    <p>一等奖一名,iPod touch4 一台；二等奖二名,奖品为1TB USB3.0移动硬盘一个</p>

    <h3>参赛办法</h3>
    <p>最佳商业计划奖： 如果你对自己iDea的商业价值成竹在胸，那么请完成并提交一份商业计划书，格式参考<%= link_to '商业计划书模板', "/plan_template.doc", :class => 'small-buttonlong' %>。[提示：模板中红色部分内容会作为评审重点，请格外关注]</p>
    <p>最佳商业创意奖： 请在本网站的“<%= link_to '我的点子', "#{ideas_path}?scope=mine" %>”页面提交你的iDea，点子内容限制400字，请尽量把你的想法描述清楚[提示：用文字抓住读者的心是一门学问，通过简短的描述让表达更清晰是一种技巧，我想你懂的~~]。</p>

   <h3>截止日期</h3>
   <p>两个奖项的截止时间均为2012年1月15日零点,过时将无法提交点子和计划书。</p>

   <h3>评审细则 </h3>
   <h4>评审时间</h4> 
   <p> 2012年1月20日前完成评选</p>
   <h4>评选办法</h4>
   <p>“最佳商业创意奖”由所有人员投票产生，现在就去支持你喜欢的<%= link_to '创意点子', "#{ideas_path}?scope=unliked" %>吧。</p>
   <p>“最佳商业计划奖”由产品市场部特邀公司内部资深人士组成的评审委员会评审产生。重在参与——没有什么比你能参与并分享这份荣誉更为重要，对吗？为了在人生的回忆中多 些色彩，即刻行动起来吧；这轻轻的一笔或许能成就你非凡的未来！</p>
   <h4>注意事项</h4> 
  <div class="content">
    <ul>
      <li>时值年底，很多同事手头的工作都进入了冲刺阶段，所以为了公平起见，请不要利用工作时间来完成本次参赛所需准备的作业。</li>
      <li>允许自行结合成课题组参加比赛，课题组的点子或者计划书请以组长个人身份在网站提交，提交时注明小组参赛即可</li>
    </ul>
  </div>
  <h2>祝你成功！</h2>
  <p>2011年12月21日</p>
  </div>
</div>

