<%# encoding: utf-8 %>
<h2>欢迎参加红点子大奖赛</h2>
<p>很多同事都知道前一段时间收集新想法的头脑风暴活动，这个活动中我们想出了很多好的创新点子，为了鼓励大家想出更好的商业创意,公司现举办一个大奖赛，也拿出了很诱人的奖品，希望大家积极参与，提出更好的商业计划或者商业创意，赢取奖品。</p>

<h4>最佳商业计划奖：</h4>
<p><b>奖项设置:</b>一等奖一名,奖品为iPad一台; 二等奖二名,奖品为1TB USB3.0移动硬盘一个。</p>
<p><b>参赛办法:</b>请完成一份商业策划书，格式参考<%= link_to '商业策划书模板', "/plan_template.doc", :class => 'small-button' %>。在<%= link_to '"提交策划书"', "#{ideas_path}?scope=upload" %>页面提交即可。（提示：模板中红色部分内容会作为评审重点，请格外关注）。</p>
<p><b>评奖办法：</b>本奖项由产品市场部特邀公司内部资深人士组成的评审委员会评审产生。 即刻行动起来吧，这轻轻的一笔或许能成就你非凡的未来！</p>

<h4>最佳商业创意奖：</h4>
<p><b>奖项设置:</b>一等奖一名,iPod touch4 一台；二等奖二名,奖品为1TB USB3.0移动硬盘一个</p>
<p><b>参赛办法:</b>在<%= link_to '"我的点子"', "#{ideas_path}?scope=mine" %>页面提交你的创意点子，请尽量用简短的语言把你的想法描述清楚，以便争取更好的评价。（提示：用文字抓住读者的心是一门学问，通过简短的描述让表达更清晰是一种技巧，我想你懂的~~）。</p>
<p><b>评奖办法：</b>每个点子都会接受公司全体同事的评价，评价最好的点子将入围前10名，然后大家会对前10名再次进行10分制投票，得分最高的获得最终的“最佳商业创意奖”。现在就去支持你喜欢的<%= link_to '创意点子', "#{ideas_path}?scope=liked" %>吧。</p>

<h4>截止日期</h4>
<p>两个奖项的截止时间均为2012年1月15日零点,过时将无法提交点子和策划书。</p>

<h4>评审时间</h4> 
<p> 2012年1月20日前完成评选</p>
<h4>注意事项</h4> 
<div class="content">
  <ul>
    <li>时值年底，很多同事手头的工作都进入了冲刺阶段，所以为了公平起见，请不要利用工作时间来完成本次参赛所需准备的作业。</li>
    <li>允许自行结合成课题组参加比赛，课题组的点子或者策划书请以组长个人身份在网站提交，提交时注明小组参赛即可</li>
  </ul>
</div>
<h2>祝你成功！</h2>
<p>2011年12月21日</p>

