<div class="block notice">
  <h3>头脑风暴重金收官</h3>
  <div class="content">
    <h4>最佳商业计划奖</h4>
		<p>一等奖奖品为<p1>iPad</p1>一台</p>
		<p>二等奖奖品为<p1>1TB USB3.0移动硬盘</p1>一个</p>
		<h4>最佳商业创意奖</h4>
		<p>一等奖奖品为<p1>iPod touch4</p1>一台</p>
		<p>二等奖奖品为<p1>1TB USB3.0移动硬盘</p1>一个</p>
  </div>
</div>
<!--<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
  </ul>
</div>-->
