<div class="block notice">
  <div class="content">
    <h3>红点子有奖竞赛</h3>
    <h4>最佳商业计划奖</h4>
      <p>一等奖奖品：<br \><p1>iPad</p1></p>
      <p>二等奖奖品：<br \><p1>1TB USB3.0移动硬盘</p1></p>
    <h4>最佳商业创意奖</h4>
      <p>一等奖奖品：<br \><p1>iPod touch4</p1></p>
      <p>二等奖奖品：<br \><p1>1TB USB3.0移动硬盘</p1></p>
  </div>
</div>
<!--<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
  </ul>
</div>-->
