<% broadcast "/ideas/new" do  %>
{
  "user_email": "<%= current_user.email %>",
  "user_id": "<%= current_user.id %>",
  "action"   : "add"
}
<% end %>

<% if @idea.valid? %>
    $('#myideas').prepend( "<%= j render( :partial => 'my_ideas', :locals => { :idea => @idea }) %>" );
  $('#myideas > li:first').effect('highlight', {}, 3000);
  $('#new_idea')[0].reset();
  flashController.doSuccess('<p>创建成功</p>');
<% else %>
    flashController.doFailure('<p>创建失败</p>');
<% end %>

(function() {
  $('#main .block .content').html( " <%= j render 'ideas/idea_box' %> " );
  console.log('rebind commentsManager');
  commentsManager.bindHandlers();
})();
