<% broadcast "/ideas/destroy" do  %>
  {
    "user_email": "<%= current_user.email %>",
    "user_id": "<%= current_user.id %>",
    "action"   : "delete"
  }
<% end %>

<% if @idea.valid? %>
    <%# find which idea gets deleted, lcoate it's index%> 
  var deleted_idx = null;
  $('#myideas li').each( function(idx, el) {
    if ($(el).find('b').html() == "<%= j @idea.title %>" ) {
      deleted_idx = idx;
    }
  });

  <%#alert( deleted_idx);%>
  if (deleted_idx >= 0) {
    $('#myideas li').eq(deleted_idx).fadeOut(1000, function() {
      $(this).remove();
    } );
  }

  flashController.doSuccess('<p>删除成功</p>');
<% end %>
