<% broadcast "/ideas/destroy" do  %>
  {
    "user_email": "<%= current_user.email %>",
    "user_id": "<%= current_user.id %>",
    "action"   : "delete"
  }
<% end %>

<% if @idea.valid? %>
    $('#myideas').find('.ideaid<%= @idea.id%> ').fadeOut(1000,function(){
      $(this).remove();
    } );

  flashController.doSuccess('<p>删除成功</p>');
<% end %>
