<div class="block" id="block-text">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <% @scopes.each do |s| %>
        <li class=<%= 'active first' if s.to_s == @scope %> ><%= link_to t(s), "#{ideas_path}?scope=#{s}" %></li>
      <% end %>
    </ul>
  </div>

  <%= render @scope %>
=======
>>>>>>> da2f59d95267c97d32cc84496f5484c9f92017d8

  <% content_for :sidebar, render(:partial => 'sidebar') -%>

  <br />

</div>
