<%# encoding: utf-8 %>

<div class="block" id="block-text">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <% @scopes.each do |s| %>
      <li <%= "class='active first'" if s.to_s == @scope %> ><%= link_to t(s), "#{admin_path}?scope=#{s}", :remote => true %></li>
      <% end %>
    </ul>
  </div>

  <div class="content">
    <%= render @scope %>
  </div>
</div>

