<div class="state">
<p>
非常感谢您对我们的支持和关注,请在这里留下您宝贵的意见和建议!
<br />
我们也许无法一一回复,但我们会认真阅读,您的支持是我们最大的动力.
</p>
</div>
<div>
<h1>建议</h1>
<%= render 'form' %>
<br />
</div>
<div class="inner">
<ul id='advises'>
<% @advises.each do |advise| %>
  <%= render :partial => "advise", :locals => { :advise => advise} %>
<% end %>
</ul>
</div>

<br />

<div class="home_page" >
  <%= link_to "返回首页", ideas_path %>
</div>

