// Place all the styles related to the Advises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_page {
        width:18px;
        line-height:1.2;
        padding:5px 0;
        background-color:#000;
        color:#fff;
        font-size:12px;
        text-align:center;
        position:fixed;
        _position:absolute;
        right:10px;
        bottom:50%;
        _bottom:"auto";
        cursor:pointer;
        opacity:.6;
        filter:Alpha(opacity=60);
}

.state {
	padding:5px 10px;
	color:#FFFFFF;
	margin:5px 0;
	text-align:left; 
	font-size:12px; 
	margin-right:3px; 
	margin-left:1px; 
	font-weight:normal;
	background-color:#1766AF;
}
