// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper .flash {
  position: absolute;
  top: 0;
  height: 38px;
  width: 40%;
  max-width: 80%;
  margin: 3px;
}

form#new_idea.new_idea div.field div.idea_content div.title {
  height: 28px;
}

form#new_idea.new_idea div.field div.idea_content div.num {
    float: right;
}

form#new_idea.new_idea div.field div.idea_content div.num span {
    font-size: 22px;
    /*font-weight: 300;*/
}

