// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.field .idea_content {
  position: relative;

}
form#new_idea.new_idea div.field div.idea_content .title {
  position: absolute;
  height: 40px;
}

form#new_idea.new_idea div.field div.idea_content div.num {
    position: relative;
    left: 100px;
    top: 0px;
}

form#new_idea.new_idea div.field div.idea_content div.num span {
    font-size: 28px;
    font-weight: 700;
}
