//#chat {
//	position:relative;
//        height:100px;
//        overflow:auto;
//	padding:5px;
//}
.message_box {
	display:none;
	background: white;
	width: 270px;
	height: 360px;
}

.message_list {
	top:5px;
	left:10px;
	height: 200px;
	width: 255px;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	word-break:break-all;
}

.message_input {
	position: absolute;
	text-align: center;
	top:215px;
	left:6px;
}

#message_input_button {
	position: absolute;
	right:6px;
	bottom:18px;
}
.chat_room .message_button {
	position: absolute;
	width:80px;
}
