// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table.myplan tr th.title {
  width: 100px;
}

table.myplan tr th.plan {
  text-align: center;
  width: 300px;
}

table.myplan tr td.title {
  width: 100px;
}

table.myplan tr td.plan {
  text-align: center;
  vertical-align: middle;
  width: 300px;
}
