<p>您好,<%= @resource.email %>!</p>
<p>邀请您参加RedIdea有奖竞赛<b>内部测试</b>，奖品有ipad、itouch等。</p>
<p>现在请您点击下面的链接可以直接登入网站：</p>
<p><%= link_to '红点子竞赛网站', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
<p>登录后，请尽快修改密码。您可以参加RedIdea的活动，评价别人的点子，或者提交自己的点子和计划书，网站上有参赛细则。</p>
<p>愿RedIdea给您带来轻松快乐。谢谢
<br>竞赛组委会</p>
